<footer>
  <nav class="round">
    <ul>
      <li></li><%= link_to 'Games', games_path %></li>
      <li><%= link_to 'Studios', studios_path %></li>
      <li><%= link_to 'Advertisers', advertisers_path %></li>
      <li></li>
      <li><%= link_to 'User', scores_path %></li>
    </ul>

  </nav>
</footer>

